@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 70%;
    }

    section.images .circle {
        clip-path: circle(45% at right 85%);
    }

}

@media only screen and (max-width: 1024px) {
    section.images .circle {
        clip-path: circle(35% at 95% 35%);
    }
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 1024px){
    body {
        height: auto;
    }
    section.images img {
        width: 100%;
    }
}

@media only screen and (max-width:412px) {
    main h1 {
        font-size: 2.5rem;
    }

    main form label span {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 384px) {
    main {
        padding: 8px;
    }
}

@media only screen and (max-width: 375px) {
    main {
        padding: 0;
    }

    main h1 {
        font-size: 1.8rem;
    }

    main form label input{
        width: 100%;
    }
}

@media only screen and (max-width:360px) {
    main h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width:320px) {
    main {
        padding: 3rem;
        width: 100%;

    }
    main h1 {
        font-size: 1.7rem;
    }

    .social-medias a img {
        width: 25px;
        margin-left: 3rem;
    }

    main .alternative span::after,main .alternative span::before{
        width: 50px;
    }

    main form label input {
        width: 100%;
        height: 40px;
    }
}
